/* This file is for your main application css. */

.winBar {
  height: 2rem;
  text-align: center;
}

.healthBar {
  background: green;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
